@import "colors.scss";

.about-page {
  margin-top: 30px;

  .text-only-holder {
    font-size: 30px;
    color: black;
    font-weight: bold;
  }

  .text-only-holder-title {
    padding-left: 20px;
    font-size: 24px;
    color: white;
    background-color: $custom1;
  }

  @media(max-width:768px) {
    .text-only-holder-title {
      margin-top: 6px;
      margin-left: 6px;
    }
  }

  .text-only-holder-subtitle {
    padding-left: 22px;
    font-size: 16px;
    color: #ff9900;
  }

  @media(max-width:768px) {
    .text-only-holder-subtitle {
      margin-left: 6px;
    }
  }

  .text-only-holder-content{
    padding-left: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: black;
  }

  @media(max-width:768px) {
    .text-only-holder-content {
      margin-left: 6px;
    }
  }

  .individual-bio {
    border-left: 2px solid #333333;
  }

  .vertical-divider {
    height: 30px;
  }

  .with-text {
    padding: 20px;
    background-color: $custom2;
    color: white;
  }

  .image-only-holder {
    max-width: 300px;
    padding-left: 25px;
  }

}