.about-page {
  margin-top: 30px;

  .text-only-holder {
    font-size: 30px;
    color: black;
    font-weight: bold;
  }

  .text-only-holder-title {
    padding-left: 20px;
    font-size: 24px;
    color: black;
  }

  .text-only-holder-subtitle {
    padding-left: 22px;
    font-size: 16px;
    color: #ff9900;
  }

  .text-only-holder-content{
    padding-left: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: black;
  }

  .individual-bio {
    border-left: 2px solid #333333;
  }

  .vertical-divider {
    height: 30px;
  }

  .with-text {
    padding: 20px;
    background-color: #333333;
    color: white;
  }

  .image-only-holder {
    max-width: 300px;
    padding-left: 25px;
  }

}