@import "colors.scss";

#how-it-works-modal {
  .modal-header {
    text-align: center;
    background-color: $custom1;

    .modal-title {
      color: white;
      font-family: 'Qotho-Dark';
      text-transform: uppercase;

      .highlight {
        color: #ff9900;
      }
    }

    .close {
      color: white;
    }
  }

  .modal-body {
    padding: 30px;

    .content-holder {
      margin-top: -50px;
      margin-bottom: -30px;
    }
  }

  .modal-footer {
    text-align: center;
    background-color: $custom1;
  }
}