@media(max-width:767px) {
  .landing-container {
    padding: 10px;
  }
}

@media(min-width:768px) {
  .landing-container {
    padding: 10%;
  }
}

.landing-title {
  text-align: center;
  margin: 50px 0px;
}

.landing-browse-all-campaigns {
  text-align: center;
  margin: 50px 0px;
}