@import "colors.scss";

html {
  position: relative;
  min-height: 100%;
}


@media(max-width:767px) {
  body {
    margin-bottom: 140px;
  }

  .footer {
    height: 140px;
    padding: 25px;
    font-size: 16px;

    .mobile-social-links {
      margin-top: 20px;
      margin-left: -5px;
    }
  }
}

@media(min-width:768px) {
  body {
    margin-bottom: 120px;
  }

  .footer {
    height: 120px;
    padding: 35px;
    font-size: 18px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $custom2;
  color: white;
  text-transform: uppercase;
}

.raise-change-links {
  font-family: 'Qotho-Dark';
  color: white;

  a {
    color: white;

    &:hover {
      color: $custom4;
      text-decoration: none;
    }
  }

  img {
    margin-right: 10px;
  }
}

.footer-icon-link {
  padding-top: 13px;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: $custom2;
  text-align: center;

  &:hover {
    background-color: $custom4;
    color: $custom2;
  }
}