html {
  position: relative;
  min-height: 100%;
}


@media(max-width:767px) {
  body {
    margin-bottom: 140px;
  }

  .footer {
    height: 140px;
    padding: 25px;

    .mobile-social-links {
      margin-top: 20px;
      margin-left: -5px;
    }
  }
}

@media(min-width:768px) {
  body {
    margin-bottom: 120px;
  }

  .footer {
    height: 120px;
    padding: 45px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.footer-icon-link {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  color: #333333;
  text-align: center;
  margin-left: 10px;

  i {
    width: 23px;
    height: 20px;
  }

  &:hover {
    background-color: #ff9900;
  }
}