.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default {
  background-color: white;
  padding: 5px 0px;
}

.sign-up-button {
  color: white !important;
  padding: 10px 20px !important;
  margin-top: 5px;
}