.journal-entry-form {
  .error-text {
    margin-top: 5px;
    color: #a94442;
  }

  .add-pictures-button {
    margin-left: 10px;
  }

  .link_to_remove {
    font-style: italic;
    margin: 10px;
    font-size: 12px;
  }
}

.journal-entry-date-selector {
  margin-top: 30px;
  margin-bottom: 20px;

  .fa-calendar {
    margin-right: 5px;
  }

  .or-word {
    margin-top: 4px;
    margin-left: 10px;
    font-style: italic;
  }

  .enter-free-text {
    font-style: italic;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }

  .free-text-field {
    margin-top: 10px;
  }

  .custom-date-picker-hidden-input {
    visibility: hidden;
    position: absolute;
    margin-top: -30px;
  }
}


.custom-hours-holder {
  .input-group {
    width: 120px;
  }

  .input-group-addon {
    cursor: pointer;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }

  .custom-hours-input {
    width: 50px !important;
  }
}