.je-grid-holder {
  margin: 15px 0px;
  margin-bottom: 30px;
  display: block;

  .je-details-holder {
    margin-left: 15px;
    width: 70%;
  }

  .volunteer-date {
    color: grey;
    font-style: italic;
    font-size: 12px;
  }
}