.je-grid-holder {
  margin: 10px 0px;
  display: block;

  .left-side {
    width: 50px;
    float: left;
  }

  .right-side {
    margin-left: 50px;
  }

  .volunteer-date {
    color: grey;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .je-image-holder {
    margin-bottom: 10px;

    img {
      margin-bottom: 10px;
    }
  }
}