.campaign-main-grid {
  h4 {
    text-transform: uppercase;
    font-family: 'Qotho-Dark';

    a {
      color: #333333;

      &:hover {
        color: #006633;
        text-decoration: none;
      }
    }
  }

  .grid-section {
    width: 100%;
  }

  .support-detail {
    margin: 10px 0px;
  }
}