.main-campaign-list-holder {
  margin-top: 30px;

  .campaign-list-follow-section {
    margin-top: 10px;
  }
}

@media(min-width:768px) {
  .campaign-main-list {
    border-left: 2px solid #333333;
    margin: 30px 0px 30px 0px;
    padding-left: 30px;
  }
}

@media(max-width:767px) {
  .campaign-main-list {
    margin-bottom: 40px;
  }

  .campaign-main-list:not(:last-child) {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
  }

  .campaign-list-follow-section {
    margin-top: -20px !important;
    margin-left: -10px;
  }
}

.campaign-main-list {

  .organization-name {
    color: rgba(0,0,0,0.3);
  }

  .campaign-main-title {
    h3 {
      margin-top: 5px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: 'Qotho-Dark';

      a {
        color: black;

        &:hover {
          color: black;
          text-decoration: none;
        }
      }
    }
  }

  .campaign-main-description {
    a {
      color: black;

      &:hover {
        color: black;
        text-decoration: none;
      }
    }
    
    p {
      font-size: 18px;

      a {
        color: black;

        &:hover {
          color: black;
          text-decoration: none;
        }
      }
    }
  }

  .campaign-user-holder {
    .user-image {
      width: 80px;
    }

    .user-name {
      margin-left: 10px;
      margin-top: 30px;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .list-image {
    @media(max-width:767px) {
      img {
        margin-bottom: 10px;
      }
    }
  }
}
