.show-campaign-holder {
  .organizer-title {
    display: block;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 5px;
    margin: 7px 0 25px;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
  }

  .action-buttons {
    margin-top: 20px;
    text-align: center;
  }

  .campaign-show-details-holder {
    .campaign-how-it-works {
      font-style: italic;
      color: #333333;
      font-family: 'Avenir Book';

      i {
        margin-left: 5px;
      }
    }

    h2 {
      margin-top: 0px;
    }

    .xs-campaign-stats {
      margin-left: 10px;
    }

    .mobile-share-buttons {
      margin-top: 20px;
    }
  }

  .xs-campaign-stats-holder {
    text-align: left; 
    margin-top: 20px;

    .xs-stats {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  .campaign-show-statistics {
    width: 100%;
    background-color: #006633;
    color: white;

    .top-title-row {
      padding: 20px 20px 0px 20px;

      .campaign-title {
        font-size: 30px;
        font-family: 'Qotho-Dark';
        border-bottom: 2px solid white;
        padding-bottom: 10px;
        text-transform: uppercase;
      }
    }

    .bottom-stats-row {
      padding: 0px 20px;

      .campaign-show-detailed-stats {
        h1 {
          font-weight: 700;
          color: #ff9900;
        }

        p {
          margin-top: -10px;
          font-style: italic;
        }
      }
      
      .campaign-show-sponsor-button-holder {
        margin-top: 25px;
      }
    }
  }

  .back-to-all-campaigns {
    margin-left: 5px;
  }

  .journal-entries-holder, .campaign-donations-holder, .description-holder {
    margin: 20px 0px;
  }

  .campaign-donations-holder {
    margin-bottom: 20px;
  }
}

.campaign-show-sub-nav-holder {
  margin-top: -5px;
  text-align: left;

  .nav-badge {
    margin-left: 5px;
    background-color: #31b0d5;
  }

  .nav-justified {
    border-bottom: 1px solid #006633;

    li {
      a {
        color: #006633;
        border-radius: 0 !important;
      }
    }

    li.active {
      font-weight: bold;

      a {
        color: white;
        background-color: #006633;
        border: 1px solid #006633;
      }
    }
  }
}

.bottom-buttons {
  margin: 20px 0px;
}

@media(max-width:767px) {
  .show-campaign-holder {
    padding-top: 10px;
  }

  .nav-justified {
    li {
      a {
        text-align: left !important;
      }
    }
  }
}

@media(min-width:768px) {
  .show-campaign-holder {
    padding-top: 50px;
  }
}