@import "colors.scss";

@media(max-width:767px) {
  .share-this-buttons {
    font-size: 30px;

    i {
      color: $custom1;
      margin: 0px 2px;

      &:hover {
        color: $custom2;
      }
    }
  }
}
