= "#{@greeting},".html_safe
br
br
= "My name is Ben and I'm with Raise Change. #{link_to 'Raise Change', 'https://www.raisechange.com'} is a platform that lets volunteers raise micro donations each hour they volunteer.".html_safe
br
br
= "For example, a volunteer can start a campaign for #{@nonprofit}. If 5 friends and family support the campaign for $1 an hour, and the volunteer does 5 hours per month, the volunteer will raise $25 for #{@nonprofit_short_name} per month.".html_safe
br
br
= "It's a different way to leverage passionate volunteers and raise additional donations. Would you be interested in setting up a call to learn more?".html_safe
br
br
| Look forward to hearing from you,
br
| Ben
br
br
| -- 
br
= "<strong>Ben Torn</strong>".html_safe
br
= link_to "www.raisechange.com", "https://www.raisechange.com".html_safe
br
| 604.562.1572