.donation-field-description {
  font-style: italic;
  color: grey;
}

@media(max-width:767px) {
  .donation-field-description {
    margin-bottom: 20px;
  }
}

@media(min-width:768px) {
  .donation-field-description {
    margin-top: 20px;
  }
}