@import "colors.scss";

.donation-field-description {
  font-style: italic;
  color: grey;
}

@media(max-width:767px) {
  .donation-field-description {
    margin-bottom: 20px;
  }
}

@media(min-width:768px) {
  .donation-field-description {
    margin-top: 20px;
  }
}

.stripe-card-error {
  font-style: italic;
  color: red;
}

.back-to-campaign {
  margin-top: 10px;
  i {
    margin-right: 5px;
  }
}

.list-existing-credit-cards {
  margin-bottom: 20px;
}