.donation-grid-holder {
  margin: 15px 0px;
  margin-bottom: 30px;
  display: block;

  .donor-details-holder {
    margin-left: 15px;
    width: 80%;
  }

  .sponsored-amount {
    color: grey;
    font-style: italic;
    font-size: 12px;
  }
}