.donation-grid-holder {
  margin: 15px 0px;
  margin-bottom: 30px;
  display: block;

  .donor-details-holder {
    text-align: left;
    margin-left: 15px;
    width: 70%;
  }

  .sponsored-amount {
    color: grey;
    font-style: italic;
    font-size: 12px;
  }
}

.donated-to-grid-holder {
  .pull-left {
    width: 100%;
  }

  .support-detail {
    margin: 10px 0px;
  }
}