@import "colors.scss";

.donations-controller {
  img {
    margin: 20px 0px;
  }

  .donation-top-profile-picture-holder {
    text-align: center;
    img {
      width: 175px;
    }
  }

  .total-donation-display-holder {
    margin: 20px 0px;
  }
}