$custom1: #1dabc1;
$custom2: #333333;
$custom3: #FAAF4D;
$custom4: #ffd465;
$custom5: #ff9900;

// Original colors
// $custom1: #006633;   GREEN
// $custom2: #333333;   GREY
// $custom3: #FAAF4D;   ORANGE
// $custom4: #ff9900;   ORANGE2