h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir';
}
p, div {
  font-family: 'Avenir';
}

.main-content {
  padding: 10px;
}

.alert {
  text-align: center;
  border-radius: 0px;
  margin-bottom: 0px;
  padding-left: 50px;
}

.page-title {
  text-align: center;
}

.page-super-title {
  text-align: center;
  color: grey;
  margin-bottom: -10px;
  margin-top: 20px;
}

.btn-default {
  border: none;

  &:hover {
    background-color: #ff9900;
  }
}

.button {
  padding: 10px;
  font-size: 16px;
  font-family: 'Qotho-Dark';

  &:hover {
    text-decoration: none;
  }
}

.support-button {
  color: #333333;
  background-color: #ff9900;

  &:hover {
    color: #333333;
    background-color: #FAAF4D;
  }
}

.call-to-action {
  padding: 10px 30px 10px 10px;
  color: white;
  background-color: #333333;
  font-size: 16px;
  position: relative;
  font-family: 'Qotho-Dark';
  cursor: pointer;

  &:hover {
    text-decoration: none;
    opacity: 0.8;
    color: white;
  }

  .arrow-right {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ff9900;

    &.main {
      border-left: 10px solid #333333;
    }
  }

  &.main {
    color: #333333;
    background-color: #ff9900;
    margin-right: 20px;

    &:hover {
      background-color: #FAAF4D;
    }
  }
}

.input-group {
  width: 120px;
}

.input-group-addon {
  cursor: pointer;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.custom-hours-input {
  width: 50px !important;
}