h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir';
}
p, div {
  font-family: 'Avenir';
}

.main-content {
  padding: 10px;
}

.alert {
  text-align: center;
  border-radius: 0px;
  margin-bottom: 0px;
  padding-left: 50px;
}

.page-title {
  text-align: center;
}

.page-super-title {
  text-align: center;
  color: grey;
  margin-bottom: -10px;
  margin-top: 20px;
}

.btn-default {
  border: none;

  &:hover {
    background-color: #ff9900;
  }
}

.button {
  padding: 10px;
  font-size: 16px;
  font-family: 'Qotho-Dark';

  &:hover {
    text-decoration: none;
  }
}

.support-button {
  color: #333333;
  background-color: #ff9900;

  &:hover {
    background-color: rgba(255,153,0,0.7);
  }
}