@import "colors.scss";

.follow-section-holder {
  .fa-question-circle {
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
  }

  .btn {
    text-transform: none;

    i {
      margin-right: 5px;
    }
  }
}

@media(max-width:767px) {
  .follow-section-holder {
    margin-left: 10px;
    margin-top: 30px;
  }
}

.follow-button {
  &:hover {
    color: white;
    background-color: $custom1;
  }

  &.campaign-page {
    border: 1px solid $custom1;
  }
}

.unfollow-button {
  background-color: $custom1;
  width: 105px;

  &.hovering {
    color: white;
    background-color: red;
  }

  &.campaign-page {
    color: white;
  }
}

.campaign-page-question-tooltip {
  margin-top: 5px;
}