@import "colors.scss";

.devise-facebook-link {
  margin-bottom: 20px;
  position: relative;

  .facebook-icon-holder {
    background-color: $facebook;
    color: white;
    width: 40px;
    height: 40px;

    .fa-facebook {
      margin-top: 10px;
      margin-left: 15px;
      font-size: 24px;
    }
  }

  .facebook-link-holder {
    padding: 10px;
    border: 1px solid $custom2;
    height: 40px;

    a {
      color: $custom2;

      &:hover {
        color: $custom4;
        text-decoration: none;
      }
    }
  }
}

.or-create-account {
  background-color: $custom2;
  color: white;
  height: 40px;
  width: 206px;
  padding: 10px;
}

.error_explanation {
  font-style: italic;
  color: red;
}

.devise-shared-links {
  margin-top: 10px;
}